@import "tailwindcss";

/* Global styles */
:root {
  --background: #f5f5f5;
  --foreground: #171717;
}
/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f5f5;
    --foreground: #171717;
  }
}

/* Font styles */
body {
  background: #f5f5f5;
  color: var(--foreground);
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}
